.lrg-nav-container {
  padding-top: 20px;
}

.lrg-nav-link {
  text-decoration: none;
}

.lrg-menu-link-text {
  color: #000;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  text-align: center;
  position: relative;
  top: -48px;
}
