@import '../../styles/utilities/index.scss';

#menu {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/flowers.png');
  display: none;
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100vw;
  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 100px;
  }
  a {
    text-decoration: none;
    font-size: $lrg-font;
    font-family: $font-medium;
    text-transform: uppercase;
    transition: all 0.7s;
  }
}

.menu-open {
  display: block !important;
}

.svg-wrapper {
  height: 60px;
  margin: 10px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.menu-link-text {
  color: #fff;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  text-align: center;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
}

@keyframes drawout {
  0% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
}

.shape-hover {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.shape-hover-off {
  -webkit-animation: 0.5s drawout linear forwards;
  animation: 0.5s drawout linear forwards;
}

// .svg-wrapper:hover .shape {
//   -webkit-animation: 0.5s draw linear forwards;
//   animation: 0.5s draw linear forwards;
// }
