@import '../../styles/utilities/index.scss';

#menu {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/flowers.png');
  display: none;
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100vw;
  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 100px;
  }
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    font-size: $lrg-font;
    font-family: $font-medium;
    text-transform: uppercase;
    transition: all 0.7s;
  }
}

#nav-link-1:hover {
  border-bottom: 2px solid red;
}

#nav-link-2:hover {
  border-bottom: 2px solid green;
}

#nav-link-3:hover {
  border-bottom: 2px solid blue;
}

#nav-link-4:hover {
  border-bottom: 2px solid yellow;
}

.menu-open {
  display: block !important;
}
