@import '../../styles/utilities/index.scss';

#profile-container {
  padding: 30px;
}

.profile-info-events-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0px auto;
  width: 90%;
}

.profile-events-container {
  // display: flex;
  font-family: $font-fancy;
  p {
    border-bottom: 3px solid #1a1a1a;
    font-size: 1.4em;
  }
}

.account-profile-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 135px;
  height: 240px;
  width: 100%;
}

.profile-info-container {
  align-items: center;
  background: linear-gradient(to bottom right, #22c1c3, #a8c0ff);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 30px;
  position: relative;
}

.profile-image-container {
  border-radius: 20px;
  width: 100%;
}

.account-profile-image-placeholder {
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/hdfmst19a/image/upload/v1518358978/placeholder_image_logo_jjtrzu.png');
  background-size: cover;
  min-height: 200px;
}

.profile-details-container {
  width: 100%;
}

.user-details-container {
  padding: 15px;
  font-family: $font-fancy;
  div {
    background: #fff;
    margin: 10px 0px;
  }
}
