@import '../../styles/utilities/index.scss';

#events-container {
  position: relative;
  padding-top: 40px;
}

#event-svg-intro-wrapper {
  margin: 10px auto;
  padding-top: 25px;
  width: 250px;
}

#add-event-link,
.attend-event-btn {
  background: #fff;
  border: #dd7782 3px solid;
  border-radius: 64px;
  color: #dd7782;
  font-family: $font-fancy;
  font-size: 0.8em;
  padding: 14px;
  outline: none;
  text-decoration: none;
  text-align: center;
  transition: all 0.8s;
  &:hover {
    background: #dd7782;
    color: #fff;
  }
}

#add-event-link {
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
  width: 270px;
}

.attend-event-btn {
  margin-top: 9px;
  width: 180px;
}

.no-scroll {
  overflow: hidden;
}

.stack-grid-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 120px 0px;
  position: relative;
  width: 80%;
}

.stack-grid {
  width: 100%;
}

.event-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px solid;
}

.event-close {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  border: #dd7782 3px solid;
  color: #1a1a1a;
  display: none;
  width: 100%;
  pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
.event-card-top {
  background: #1a1a1a;
  border-radius: 10px 10px 0px 0px;
  height: 120px;
  width: 100%;
  z-index: 1;
}

.event-basic-info-container {
  color: #fff;
  font-family: $font-fancy;
  font-size: 1.2em;
  text-align: center;
  padding-top: 43px;
  margin: 0px auto;
  width: 90%;
}

.open-event-click-open-btn {
  background: #1a1a1a;
  border-radius: 10px;
  height: 40px;
  position: absolute;
  overflow: none;
  width: 40px;
  span {
    position: absolute;
    width: 3px;
  }
}

.open-event-click-line-1 {
  background: #fff;
  height: 21px;
  top: 3px;
  transform: rotate(-50deg);
  left: 25px;
  transition: all 0.5s;
}
.open-event-click-line-2 {
  background: #fff;
  height: 21px;
  left: 13px;
  top: 15px;
  transform: rotate(-50deg);
  transition: all 0.5s;
}

.open-event-click-line-3 {
  background-color: cyan;
  left: 19px;
  height: 30px;
  top: 5px;
  transform: rotate(-50deg);
  transition: all 0.5s;
}

.open-event-line-1-hover {
  left: 24px;
  top: 4px;
}

.open-event-line-2-hover {
  left: 14px;
  top: 14px;
}

.open-event-line-3-hover {
  background: red;
}

.close-event-line-1 {
  height: 25px !important;
  transform: rotate(140deg) !important;
  background: blue !important;
  left: 19px !important;
  top: 8px !important;
}

.close-event-line-2 {
  height: 25px !important;
  transform: rotate(-140deg) !important;
  background: blue !important;
  left: 19px !important;
  top: 8px !important;
}
.close-event-line-3 {
  opacity: 0 !important;
}

.active-event-file {
  display: block;
}
.not-active-event-file {
  display: none;
}

.event-carousel-container {
  padding-top: 10px;
  position: relative;
}

.event-change-presentation-btn-container {
  position: absolute;
  z-index: 1;
  top: 4px;
  width: 100%;
}

.event-change-presentation-left-btn,
.event-change-presentation-right-btn {
  background: #1a1a1a;
  border-radius: 100%;
  font-size: 18px;
  color: #fff;
  padding: 8px;
  outline: none;
}

.event-change-presentation-left-btn {
  margin-left: 3px;
}

.event-change-presentation-right-btn {
  margin-right: 3px;
  float: right;
}

.event-image-background {
  height: 240px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 296px;
}

.event-inner-info-container {
  padding: 10px;
  p,
  pre {
    font-family: $font-normal;
    margin-bottom: 10px;
    span {
      border-bottom: 2px solid #33f5e7;
      display: inline-block;
    }
  }
}

#events-error-message {
  background: #1a1a1a;
  font-size: 1.5em;
  font-family: $font-fancy;
  color: #fff;
  height: 200px;
  padding-top: 86px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 5;
}
