extends ./layout 
append head
  title Admin | DAB 
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css")
block content
  h1 Dashboard 