doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Denver Advisory Board
    link(href="favicon.ico" rel="icon" type="image/x-icon")
    link(href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet")
    script(src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js")

  body
    #root 
    script.
      AOS.init({
        offset: 200,
        duration: 600,
        easing: 'ease-in-sine',
        delay: 0
      });
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
  script(src="https://code.jquery.com/jquery-2.2.1.min.js")
  script(src="main.bundle.js")