@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito|Comfortaa|Maven+Pro');
$font-medium: 'Fredoka One', cursive;
$font-regular: 'Nunito', serif;
$font-fancy: 'Comfortaa', serif;
$font-normal: 'Maven Pro', sans-serif;
