@import '../../styles/utilities/index.scss';

.events {
  position: relative;
  height: 500px;
  margin: 0px auto;
  overflow: hidden;
  width: 100%;
}

.event {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: all 1s;
  width: 100%;
}

.not-active-event {
  top: -500px;
}

.active-event {
  top: 0px;
}

.events-btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid $white;
  bottom: 5%;
  border-radius: 100%;
  color: $white;
  font-size: 20px;
  padding: 20px;
  position: absolute;
  transition: all 0.5s;
  z-index: 5;
  &:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
  }
  &:active {
    background-color: #fff;
  }
}

.event-info {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}

.event-title {
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
}

.event-links {
  display: flex;
  // position: absolute;
  // right: 0px;
  a {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    height: 60px;
    width: 75px;
  }
}

.events-btn:nth-of-type(1) {
  left: 10px;
}
.events-btn:nth-of-type(2) {
  right: 10px;
}
