@import '../../../styles/utilities/index.scss';

#landing-page-wrapper h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  margin-left: 10%;
  font-size: 3em;
}

#home-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.landing-photo-wrapper {
  height: 360px;
  margin-bottom: 10px;
}

.landing-photo-container {
  background: #000;
  display: block;
  height: 230px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  width: 300px;
  transition: all 400ms ease-in-out;
  &:hover {
    height: 360px;
  }
}

.landing-photo-container:hover .inital-block {
  margin-left: -500px;
}

.landing-photo-container:hover div {
  margin-right: 0px;
  left: 0px;
}

.landing-photo-container:hover {
  box-shadow: none;
}

.inital-block {
  align-items: center;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  font-family: $font-fancy;
  height: 230px;
  justify-content: center;
  transition: all 400ms ease-in-out;
  width: 100%;
}

.landing-photo-hidden-text {
  align-items: center;
  font-size: 1em;
  display: flex;
  font-family: $font-fancy;
  justify-content: center;
  padding: 10px;
  transition: all 400ms ease-in-out;
}

.landing-photo-hidden-text-wrapper {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  left: 300px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  transition: all 400ms ease-in-out;
  width: 100%;
}

.grid-link {
  border-bottom: #19f6e8 2px solid;
  color: #fff;
  font-family: $font-medium;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    border-bottom: red 2px solid;
    color: #fff;
  }
}

.photo-container-bg-1 {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

.photo-container-bg-1:hover {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

.photo-container-bg-2 {
  background: linear-gradient(to right, #d66d75, #ff4f6f);
}

.photo-container-bg-2:hover {
  background: linear-gradient(to right, #d66d75, #ff4f6f);
}

.photo-container-bg-3 {
  background: linear-gradient(to right, #bc4e9c, #f80759);
}

.photo-container-bg-3:hover {
  background: linear-gradient(to right, #bc4e9c, #f80759);
}

.photo-container-bg-4 {
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
}

.photo-container-bg-4:hover {
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
}

.photo-container-bg-5 {
  background: linear-gradient(to right, #ffc44f, #b20a2c);
}

.photo-container-bg-5:hover {
  background: linear-gradient(to right, #ffc44f, #b20a2c);
}

.photo-container-bg-6 {
  background: linear-gradient(to right, #22c1c3, #a8c0ff);
}

.photo-container-bg-6:hover {
  background: linear-gradient(to right, #22c1c3, #a8c0ff);
}
