@import '../../../styles/utilities/index.scss';

#landing-page-wrapper h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  margin-left: 10%;
  font-size: 3em;
}

#home-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.landing-photo-container {
  display: block;
  height: 230px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  width: 300px;
  transition: all 400ms ease-in-out;
}

.landing-photo-container:hover .inital-block {
  margin-left: -700px;
}

.landing-photo-container:hover div {
  margin-right: 0px;
  left: 0px;
}

.landing-photo-container:hover {
  box-shadow: none;
}

.inital-block {
  align-items: center;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  font-family: $font-medium;
  height: 230px;
  justify-content: center;
  transition: all 400ms ease-in-out;
  width: 100%;
}

.landing-photo-hidden-text {
  align-items: center;
  font-size: 1em;
  display: flex;
  font-family: $font-fancy;
  justify-content: center;
  padding: 10px;
  transition: all 400ms ease-in-out;
}

.landing-photo-hidden-text-wrapper {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  left: 300px;
  padding: 10px;
  position: absolute;
  justify-content: center;
  transition: all 400ms ease-in-out;
  width: 100%;
}

.grid-link {
  border-bottom: #19f6e8 2px solid;
  color: #fff;
  font-family: $font-medium;
  text-decoration: none;
  transition: all 1s;
  &:hover {
    border-bottom: #fff 2px solid;
    color: #19f6e8;
  }
}

.photo-container-bg-1 {
  box-shadow: 0px 0px 10px #ff87b1, 0px 0px 10px #ff87b1;
}

.photo-container-bg-1:hover {
  background: #ff87b1;
}

.photo-container-bg-2 {
  box-shadow: 0px 0px 10px #fc575a, 0px 0px 10px #fc575a;
}

.photo-container-bg-2:hover {
  background: #fc575a;
}

.photo-container-bg-3 {
  box-shadow: 0px 0px 10px #800f75, 0px 0px 10px #800f75;
}

.photo-container-bg-3:hover {
  background: #800f75;
}

.photo-container-bg-4 {
  /*background: #91DF2C;*/
  box-shadow: 0px 0px 10px #91df2c, 0px 0px 10px #91df2c;
}

.photo-container-bg-4:hover {
  background: #91df2c;
}

.photo-container-bg-5 {
  box-shadow: 0px 0px 10px #fb7d2c, 0px 0px 10px #fb7d2c;
}

.photo-container-bg-5:hover {
  background: #fb7d2c;
}

.photo-container-bg-6 {
  box-shadow: 0px 0px 10px #784bd8, 0px 0px 10px #784bd8;
}

.photo-container-bg-6:hover {
  background: #784bd8;
}
