header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
 
.sidenav {
  background: linear-gradient(45deg, #00AEFF 50%, #3369E6 100%) !important;
}